<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.smashinfo">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/FullscreenTheme"
        tools:ignore="ExtraText,GoogleAppIndexingWarning">
        <activity
            android:name=".activity.IntroActivity"
            android:clearTaskOnLaunch="true">

        </activity>
        <activity
            android:name=".activity.FieldActivity"
            android:screenOrientation="landscape"/>
        <activity android:name=".activity.MainMenuActivity" />
        <activity
            android:name=".activity.LoginActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".activity.SignInActivity" />
        <activity android:name=".activity.TutorielActivity"/>
    </application>

</manifest>